input::-webkit-slider-thumb, input::-moz-range-thumb {
  height: 125%;

  background-color: #1DB954;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;

  transition: height 0.1s;
}

input::-moz-range-thumb:hover {
  height: 150%;
}